<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card border-primary mt-5">
        <div class="card-body">
          <h2 class="card-title text-center">Registration Form</h2>

          <form>
            <p *ngIf="tellUs && tellUs.length > 0" class="text-warning">Its Working!</p>
            <p *ngIf="tellUs && tellUs.length > 0" class="rg-yellow">Form Works</p>

            <p class="bg-warning text-dark">Tell us about you</p>
            <input name="tellUs" [(ngModel)]="tellUs" class="form-control mb-3" type="text" placeholder="Tell us about you">
            <h3 class="text-center text-brown">{{ tellUs }}</h3>

            <input name="address" [(ngModel)]="address" class="form-control mb-3" type="text" placeholder="Your address">
            <h3 class="text-center text-brown">{{ address }}</h3>

            <input name="interestedClasses" [(ngModel)]="intrestedClasses" class="form-control mb-3" type="text" placeholder="What are the classes you are interested in?">
            <h3 class="text-center text-brown">{{ intrestedClasses }}</h3>

            <input name="contactInfo" [(ngModel)]="contactInfo" class="form-control mb-3" type="text" placeholder="Your Contact Details">
            <h3 class="text-center text-brown">{{ contactInfo }}</h3>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card border-primary">
        <div class="card-body">
          <h2 class="card-title text-center">Registered Users</h2>

          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Country</th>
                  <th>Job</th>
                  <th>Company</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let user of users">
                  <td>{{ user.userName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.country }}</td>
                  <td>{{ user.job }}</td>
                  <td>{{ user.companyName }}</td>
                  <td>{{ user.id }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
