.register-from-box{
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #e1dcdc; 

}

.rg-yellow {
    color: yellow ;
    background-color: rgb(47, 0, 255);
}

.user-list {
    margin-top: 20px;
  }
  
  .user-list__heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
/* 
this is for space outside of table */
  .table-wrapper {
    padding: 0 30px;
  }
  
  table {

    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }